{{range .posts}}
<article class="post clearfix" itemscope itemtype="http://schema.org/Article">
    <header class="post-header">
        <h1 class="entry-title"><a href="{{url "Home.Post" .Flag }}" rel="bookmark">{{ .Title }}</a></h1>
        <div class="post-date">
            <time class="fa fa-calendar date" datetime="{{date "2006-01-02 15:04:05" .CreatedAt }}" itemprop="datePublished"> {{date "02 Jan , 2006" .CreatedAt }}
            </time>
            <span class="views fa fa-eye" itemprop="views"> {{ .Views }} views</span>
        </div>
        <div class="clear"></div>
    </header>
    <div class="post-content post-desc" itemprop="articleBody">
        <p>{{ .Content }}...</p>
        <p>[<a href="{{url "Home.Post" .Flag }}" rel="nofollow">阅读更多 →</a>]</p>
        <div class="clear"></div>
    </div>
    <footer class="post-footer" itemprop="keywords">
    {{range .Tags}}
        <li> <i class="fa fa-tag"></i> <a href="/tag/{{ .TagsFlag }}" rel="tag">{{ .TagsName }}</a>&nbsp;&nbsp; </li>
    {{end}}
        <div class="clear"></div>
    </footer>
</article>
{{end}}
<!--page nav-->
{{template "home/component/page.html" .}}