<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{{.title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="/public/admin/dist/main.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="/public/admin/dist/vender-base.js"></script>
<script type="text/javascript" src="/public/admin/dist/vender-exten.js"></script>
<script type="text/javascript" src="/public/admin/dist/main.js"></script>
</body>
</html>