{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="content-main">
    {{with .post}}
    <article class="post clearfix" itemscope itemtype="http://schema.org/Article">
        <header class="post-header">
            <h1 class="entry-title"><a href="/post/{{ .Flag }}" rel="nofollow">{{ .Title }}</a></h1>
            <div class="post-date">
                <time class="fa fa-calendar date" datetime="{{date "2006-01-02 15:04:05" .CreatedAt }}"
                      itemprop="datePublished" pubdate=""> {{date "02 Jan , 2006" .CreatedAt }}
                </time>
                <span class="views fa fa-eye" itemprop="views"> {{ .Views }} views</span>
            </div>
            <div class="clear"></div>
        </header>
        <div class="post-content post-desc" itemprop="articleBody">
            {{raw .Content }}
            <div class="clear"></div>
        </div>
        <footer class="post-footer" itemprop="keywords">
            {{range .Tags}}
            <li> <i class="fa fa-tag"></i> <a href="/tag/{{ .TagsFlag }}" rel="tag">{{ .TagsName }}</a>&nbsp;&nbsp; </li>
            {{end}}
            <div class="clear"></div>
        </footer>
    </article>
    <div id="comment">
        <mycomment slug="{{ .Id }}" page="1"></mycomment>
    </div>
    {{end}}
</div>

<script src="https://o75u5ooep.qnssl.com/assets/app/js/main.js"></script>
{{template "footer.html" .}}
